/* Main body */
    body {
        margin: 0;
        padding: 0;
    }

/* Home page */
    .homepage-container {
        padding-top: 190px;
        padding-bottom: 160px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .homepage-container h1 {
        color: #101010;
        font-family: 'Lexend', sans-serif;
        font-weight: 500;
        font-size: 3em;
        margin-bottom: 90px;
    }


    /* search-by */
    .search-by-container {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .search-by-container p {
        margin: 0 0 7px 0;
        font-family: 'Roboto', sans-serif;
        color: #101010;
        font-size: 1em;
        font-weight: 500;
    }

    .search-by {
        background-color: #101010;
        font-family: 'Roboto', sans-serif;
        font-size: .95em;
        font-weight: 400;
        color: #FFFFFF;
        border-radius: 22px;
        border: none;
        outline: none;
        padding: 10px 35px 10px 15px;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        background-image: url("../icons/chevron-down.svg");
        background-repeat: no-repeat;
        background-size: 16px;
        background-position: right 10px center;
        transition: background-image 0.2s ease-out;
    }


    /* search */
    .search-container {
        display: flex;
        margin-top: 15px;
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }

    .search-input {
        background-color: #707070;
        border-radius: 3em 0 0 3em;
        border: none;
        color: #FFFFFF;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-size: 1.1em;
        padding: 16px 25px;
        flex-grow: 1;
        height: 22px;
        resize: none;
        white-space: nowrap;
        position: relative;
        margin-right: 0;
    }

    .search-input::placeholder {
        position: absolute;
        left: 25px;
        top: 15px;
        color: #D1D1D1;
    }

    .search-input::-webkit-scrollbar {
        width: 0;
        height: 0;
    }

    .search-button {
        background-color: #101010;
        border-radius: 0 3em 3em 0;
        border: none;
        color: #FFFFFF;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-size: 1.3em;
        padding: 0 22px;
        display: flex;
        align-items: center;
        cursor: pointer;
    }

    .search-button:hover {
        background-color: #2A2A2A;
        transition: 0.5s ease-out;
    }

    .search-icon {
        display: none;
        align-items: center;
        justify-content: center;
        padding: 0 15px;
        background-color: #101010;
        border-radius: 0 3em 3em 0;
        margin-right: 0;
    }

    .search-icon svg path {
        fill: #FFFFFF;
    }

    /* search js classes */
    .input-color {
        background-color: #505050;
    }

    @media only screen and (max-width: 767px) {
        .homepage-container {
            padding-top: 120px;
            padding-bottom: 180px;
        }

        .homepage-container h1 {
            margin-bottom: 50px;
        }

        .homepage-container h1 {
            text-align: center;
        }

        .search-container {
            width: 90%;
        }
        
        .search-button {
            display: none;
        }

        .search-icon {
            display: flex;
        }
    }

    @media only screen and (min-width: 768px) and (max-width: 1023px) {
        .search-container {
            width: 70%;
        }

        .search-button {
            display: none;
        }

        .search-icon {
            display: flex;
        }
    }


/* Search page */
.searchpage-container {
    padding-top: 125px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
}

.searchpage-container h1 {
    color: #101010;
    font-family: 'Lexend', sans-serif;
    font-weight: 500;
    font-size: 2.5em;
    margin-bottom: 0;
    padding-left: 5%;
}

.searchpage-container h2 {
    font-family: 'Lexend', sans-serif;
    font-weight: 400;
    color: #505050;
    margin-bottom: 65px;
    padding-left: 5%;
}

.movie-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-left: 0.2%;
}

.movie {
    margin-left: 5.2%;
    margin-bottom: 50px;
    cursor: pointer;
}

.movie-poster {
    border-radius: 25px;
    width: 250px;
    height: 350px;
    overflow: hidden;
}

.movie-poster img {
    border-radius: 25px;
    width: 250px;
    height: 350px;
}

.movie-poster img:hover {
    transform: scale(1.1);
    transition: transform 0.5s ease;
    filter: brightness(70%);
}

.movie-title {
    color: #101010;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 1.5em;
    margin-top: 5px;
    width: 250px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    position: relative;
}

.movie-title:hover::before {
    content: attr(aria-label);
    position: absolute;
    top: 100%;
    left: 0;
    padding: 0.5em;
    background-color: #000;
    color: #fff;
    border-radius: 4px;
    white-space: nowrap;
}

.movie-date {
    color: #101010;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1.4em;
}


/* Movie page */
.moviepage-container {
    padding-top: 180px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
}

.movie-details-section {
    display: flex;
    padding-left: 10%;
}

.poster-moviepage img {
    width: 300px;
    border-radius: 25px;
}

.movie-metadata {
    margin-left: 3%;
}

.title-moviepage h1 {
    color: #101010;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 2.5em;
    margin-bottom: 25px;
}

.date-moviepage {
    color: #101010;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 1.7em;
    margin-bottom: 10px;
}

.genre-moviepage {
    color: #101010;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 1.7em;
    margin-bottom: 10px;
}

.summary-moviepage {
    color: #101010;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 1.7em;
}

.summary-moviepage p {
    color: #101010;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 0.75em;
    margin-top: 5px;
    max-width: 80%;
}

    /* cast section */
    .cast-section {
        padding-top: 80px;
        display: flex;
        flex-direction: column;
    }

    .cast-section h2 {
        font-family: 'Lexend', sans-serif;
        font-weight: 500;
        font-size: 2.5em;
        color: #101010;
        margin-bottom: 65px;
        text-align: center;
    }

    .cast-container {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        padding-left: 1.2%;
    }

    .cast-headshot img {
        width: 180px;
        border-radius: 25px;
    }

    .cast {
        margin-left: 5.2%;
        margin-bottom: 50px;
    }

    .cast-name {
        color: #101010;
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        font-size: 1.2em;
        text-align: center;
        width: 180px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    .cast-name p {
        font-weight: 400;
        margin: 0;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    .cast-name span {
        font-weight: 300;
    }

    /* reviews section */
    .reviews-section {
        padding-top: 30px;
        display: flex;
        flex-direction: column;
    }

    .reviews-section h2 {
        font-family: 'Lexend', sans-serif;
        font-weight: 500;
        font-size: 2.5em;
        color: #101010;
        margin-bottom: 65px;
        text-align: center;
    }

    .review-container {
        background-color: #101010;
        border-radius: 35px;
        font-family: 'Roboto', sans-serif;
        color: #FFFFFF;
        margin: 0 25% 0 25%;
        padding: 50px 7%;
        position: relative;
    }

    .review-container-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
        opacity: 0;
        transition: opacity 2s ease;
    }

    .review-username {
        font-weight: 500;
        font-size: 1.7em;
    }

    .review-date {
        font-weight: 400;
    }

    .review-quote-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .review-quote-container img {
        width: 25px;
    }

    .review-text-container {
        opacity: 0;
        transition: opacity 2s ease;
    }

        /* js transition class */
        .review-text-container.active {
            opacity: 1;
        }

        .review-container-header.active {
            opacity: 1;
        }

    .review-text-shortened-container {
        font-family: 'Roboto', sans-serif;
        color: #FFFFFF;
        font-weight: 400;
        white-space: pre-wrap;
        word-wrap: break-word;
        margin: 10px 8%;
    }

    .review-text {
        font-family: 'Roboto', sans-serif;
        color: #FFFFFF;
        font-weight: 400;
        white-space: pre-wrap;
        word-wrap: break-word;
        margin: 10px 8%;
        height: 150px;
        overflow: hidden;
        overflow-y: scroll;
        display: none;
    }

    .more-icon {
        color: #1FBFFB;
        font-weight: 500;
    }

    .more-icon:hover {
        text-decoration: underline;
        cursor: pointer;
    }

    .left-quote-icon {
        margin-right: auto;
    }

    .right-quote-icon {
        margin-left: auto;
        color: #1FBFFB;
    }

    .leave-a-review-button {
        background-color: #FFFFFF;
        border-radius: 25px;
        color: #101010;
        font-weight: 500;
        width: 110px;
        padding: 12px 17px;
        margin-top: 20px;
        text-align: center;
        cursor: pointer;
    }

    .leave-a-review-button:hover {
        background-color: #1FBFFB;
        transition: 0.5s ease-out;
    }

    .prev {
        position: absolute;
        left: 17px;
        bottom: 44%;
        cursor: pointer;
    }

    .next {
        position: absolute;
        right: 17px;
        bottom: 44%;
        cursor: pointer;
    }

    .prev:hover path, .next:hover path {
        fill: #1FBFFB;
        transition: 0.5s ease-out;
    }
    
    .prev:focus, .next:focus {
        outline: none;
    }

    .leave-a-review-container {
        background-color: #101010;
        border-radius: 35px;
        font-family: 'Roboto', sans-serif;
        color: #FFFFFF;
        margin: 0 25% 0 25%;
        padding: 50px 7%;
        position: relative;
        display: none;
    }

    .leave-a-review-header {
        display: flex;
        justify-content: space-between;
    }

    .leave-a-review-container textarea {
        border-radius: 7px;
        border: none;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-size: 16px;
        color: #101010;
        resize: none;
        padding: 10px 17px;
    }

    .leave-a-review-container label {
        font-weight: 500;
    }

    .user-email, .user-name, .user-review {
        display: flex;
        flex-direction: column;
    }

    .user-review {
        margin-top: 20px;
    }

    #user-email-input, #user-name-input {
        white-space: nowrap;
        height: 20px;
        width: 12em;
        margin-top: 7px;
    }

    #user-email-input::-webkit-scrollbar,
    #user-name-input::-webkit-scrollbar {
        width: 0;
        height: 0;
    }

    #user-review-input {
        margin-top: 7px;
    }

    textarea::placeholder {
        position: absolute;
        top: 10px;
        left: 17px;
    }

    .send-button {
        background-color: #FFFFFF;
        border-radius: 25px;
        color: #101010;
        font-weight: 500;
        font-size: 1.05em;
        width: 100px;
        padding: 12px 0;
        margin-top: 20px;
        text-align: center;
        cursor: pointer;
        margin-left: auto;
    }

    .send-button:hover {
        background-color: #1FBFFB;
        transition: 0.5s ease-out;
    }

    #close-icon {
        position: absolute;
        top: 30px;
        right: 30px;
        cursor: pointer;
    }

    #close-icon:hover path {
        fill: #1FBFFB;
        transition: 0.5s ease-out;
    }

    .saviour {
        width: 10px;
        height: 10px;
        background-color: #1FBFFB;
        position: absolute;
        border-radius: 5px;
        bottom: 10px;
        left: 10px;
    }

/* scrollbar */
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background-color: #D1D1D1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #707070;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #505050;
}

:focus {
    outline-color: #1FBFFB;
}

textarea:focus {
    outline: none;
}
