/* Main header */
    header {
        background-color: #FFFFFF;
        border-bottom: 1px solid #101010;
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 60px;
        position: fixed !important;
        z-index: 3;
        top: 0 !important;
        left: 0 !important;
        padding: 10px 0;
        overflow: visible;
        position: relative;
    }

    .logo {
        display: flex;
        align-items: center;
        width: 190px;
    }

    .logo img {
        height: 100%;
        margin-left: 50px;
        cursor: pointer;
    }

    .intro-page {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #101010;
        border-radius: 30px;
        height: 40px;
        padding: 0px 20px;
        margin-top: 10px;
        margin-right: 50px;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        color: #FFFFFF;
        text-decoration: none;
    }

    .intro-page:hover {
        background-color: #2A2A2A;
        transition: 0.5s ease-out;
    }

    @media only screen and (max-width: 767px) {
        .logo img {
            margin-left: 25px;
        }

        header {
            height: 50px;
        }

        .intro-page {
            margin-top: 5px;
            margin-right: 25px;
        }
    }

/* Header search */
    .header-search-container {
        display: flex;
        justify-content: end;
        align-items: center;
        margin-left: auto;
        margin-right: 10%;
        width: 50%;
    }

    .chevron-button-container {
        display: flex;
        align-items: center;
    }

    .chevron-button {
        background-color: #101010;
        font-family: 'Roboto', sans-serif;
        font-size: .95em;
        font-weight: 400;
        color: #FFFFFF;
        border-radius: 22px 0 0 22px;
        border: none;
        outline: none;
        width: 40px;
        height: 48px;
        padding: 48px 0 0 3px;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        background-image: url("../icons/chevron-down.svg");
        background-repeat: no-repeat;
        background-size: 17px;
        background-position: left 12px center;
        margin: 0;
    }

    .input-search-container {
        display: flex;
        width: 70%;
    }

    .search-input-header {
        background-color: #707070;
        color: #FFFFFF;
        border: none;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-size: 1.05em;
        padding: 13px 20px;
        border-radius: 0 0 0 0;
        height: 22px;
        flex-grow: 1;
        resize: none;
        white-space: nowrap;
        margin: 0;
        position: relative;
    }

    .search-input-header::placeholder {
        position: absolute;
        left: 20px;
        top: 14px;
        color: #D1D1D1;
    }

    .search-input-header::-webkit-scrollbar {
        width: 0;
        height: 0;
    }

    .search-button-header {
        background-color: #101010;
        border-radius: 0 3em 3em 0;
        border: none;
        color: #FFFFFF;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-size: 1.2em;
        padding: 0 15px;
        display: flex;
        align-items: center;
        cursor: pointer;
        margin: 0;
    }

    .search-button-header:hover {
        background-color: #2A2A2A;
        transition: 0.5s ease-out;
    }

    .search-icon-header {
        display: none;
        align-items: center;
        justify-content: center;
        margin-right: 50px;
        width: 50px;
    }

    .search-icon-header-dropdown {
        display: flex;
        visibility: hidden;
        flex-direction: column;
        position: absolute;
        background-color: #2A2A2A;
        width: 100%;
        top: 70px;
        left: 0;
        padding: 20px 0;
        opacity: 0;
    }

    .search-icon-header-dropdown.active {
        visibility: visible;
        opacity: 1;
        transition: 0.5s ease-out;
    }

    header .search-by-container p {
        color: #D1D1D1;
    }

    @media only screen and (max-width: 767px) {
        .header-search-container {
            display: none;
        }

        .search-icon-header {
            display: flex;
        }
    }
